
<ion-content class="card-background-page">

  <ion-card>
    <img src="https://s2.glbimg.com/JrpIqQ2uVzHR9vZgYnEwtAsZZ6E=/0x87:489x603/1600x0/smart/filters:strip_icc()/s.glbimg.com/es/ge/f/original/2019/02/08/capa_lequipe_maiores_salarios_ligue_1.png"/>
    <div class="card-title"></div>
    <div class="card-subtitle"></div>
  </ion-card>

  <ion-card>
    <img src="https://s2.glbimg.com/W1ztU741ehUZto5hx6Pxnn4cIJ4=/0x0:950x633/1600x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2018/c/B/b5DKFaSfGGrgGhIJvgHg/y7vn-fznefkh3311695.jpg"/>
    <div class="card-title"></div>
    <div class="card-subtitle"></div>
  </ion-card>

  <ion-card>
    <img src="https://s2.glbimg.com/MiQLqyeuKmFld0Oaf_bw7o_furM=/0x242:864x872/1600x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2019/o/B/Q15XAMSAC42Cx3BO2q5w/51755223-2194913043902590-7783897375185043456-n.jpg"/>
    <div class="card-title"></div>
    <div class="card-subtitle"></div>
  </ion-card>

  

</ion-content>